<div class="container">

	<div class="row">

		<div class="col-md-12">
			<img src="/assets/image/burger.png" alt="burger" class="img-responsive center-block" height="250px" width="200px">
		</div>
	</div>

	<div class="row">

		<div class="col-md-12">
			<h1 class="text-center text-danger">Eat-Da-Burger</h1>
		</div>
	</div>
<hr>
	<div class="row">
<left>
<div class="col-md-4">
			<h3 class="text-center text-danger">Burgers-To-Eat!</h3><hr>
			<ul>
				{{#each burger}}
					{{#unless this.devoured}}						
							<h4>{{this.id}}. {{this.burger_name}}
								<form action='/api/update/{{this.id}}?_method=PUT' method='POST'>
									<input type='hidden' name='devoured' value='true'>
									<button type='submit' class="btn btn-default devourbtn">Devour It!</button>
								</form>
							</h4>
						
					{{/unless}}
				{{/each}}
			</ul>
		</div>
</left>
		
<center>
<div class="col-md-4">
			<form class="create-update-form" action="/api/burgers" method="POST">
				<div class="form-group">
					<h2 class="text-center text-danger makeburger">Make-A-Burger!</h2><hr><br>
					<textarea type="text" name="name"></textarea><br><br>
					<button class="btn btn-default submitbtn" type="submit">Submit</button>
				</div>
			</form>
		</div>
</center>
		
<left>
<div class="col-md-4">
			<h3 class="text-center text-danger">Eaten-Burgers</h3><hr>
			<ul>
				{{#each burger}}
					{{#if this.devoured}}
							<h4 class="text-muted">{{this.id}}. {{this.burger_name}}</h4>
					{{/if}}
				{{/each}}
			</ul>
		</div>
</left>
		
	</div>
</div>
